# 학습데이터 만들기

## 01. 쿠팡 데이터 모아 합치기

In [2]:
import pandas as pd

In [13]:
data1 = pd.read_excel('./train_data/coupang_naver_total/part1.xlsx',header= None)
data2= pd.read_excel('./train_data/coupang_naver_total/part2.xlsx')
data3 = pd.read_excel('./train_data/coupang_naver_total/part3_1.xlsx')
data4 = pd.read_excel('./train_data/coupang_naver_total/part3_2.xlsx')
data5 = pd.read_excel('./train_data/coupang_naver_total/part4.xlsx')
data6 = pd.read_excel('./train_data/coupang_naver_total/part5.xlsx')

In [32]:
# train_x 합치기 
all_train_x_df= pd.concat( [data1[0], data2['문장'],data3['문장'],data4['문장'],data5[0],data6[0] ], axis = 0)
all_train_x_df=all_train_x_df.reset_index()
all_train_x_df

       index                                                  0
0          0                                        밥맛하면\n곰곰쌀이죠
1          1   비록 다이어트에 실패를 가져다 준\n곰곰쌀이지만\n맛있는 걸 오또케요\n진짜 최고입니다
2          2                       ♡지난번 구입해서 먹고 다 먹어서\n또 구입했습니다
3          3  저는 쌀을 받으면 바로 개봉해서\n혹시 이상이 없는지 확인하고\n바로 김치통에 나눠...
4          4                             나눠 담으며 쌀상태 다시 한번 확인합니다
...      ...                                                ...
15725   4012     2인이 살고 있는 집이구 저는 주말에만 빕에서 밥을 먹어서\n양이 좀 많은 편입니다
15726   4013                          여름이라 더 작은거 사려다가 그냥 재구매했구요
15727   4014                                            밥맛은 좋아요
15728   4015                                   품질 관리 잘 하시는거 같아요
15729   4016                                              잘먹을게요

[15730 rows x 2 columns]

In [41]:
# train_y합치기
all_train_y_df= pd.concat( [data1[1], data2['감성'],data3['감성'],data4['감성'],data5['0.1'],data6['0.1'] ], axis = 0)
all_train_y_df=all_train_y_df.reset_index()
all_train_y_df

       index         0
0          0   neutral
1          1  positive
2          2   neutral
3          3   neutral
4          4   neutral
...      ...       ...
15725   4012  positive
15726   4013   neutral
15727   4014  positive
15728   4015  positive
15729   4016  positive

[15730 rows x 2 columns]

In [57]:
# 점수 매기기
num_train_y_df =[]
for i in range(len(all_train_y_df)):
    if all_train_y_df[0][i] == 'neutral':
        num_train_y_df.append(0)
    elif all_train_y_df[0][i] == 'positive':
        num_train_y_df.append(1)
    else:
        num_train_y_df.append(-1)

len( num_train_y_df )

15730

In [63]:
coupang_train = pd.DataFrame({ 'train':all_train_x_df[0],
'api': all_train_y_df[0],
'score': num_train_y_df})
coupang_train

                                                   train       api  score
0                                            밥맛하면\n곰곰쌀이죠   neutral      0
1       비록 다이어트에 실패를 가져다 준\n곰곰쌀이지만\n맛있는 걸 오또케요\n진짜 최고입니다  positive      1
2                           ♡지난번 구입해서 먹고 다 먹어서\n또 구입했습니다   neutral      0
3      저는 쌀을 받으면 바로 개봉해서\n혹시 이상이 없는지 확인하고\n바로 김치통에 나눠...   neutral      0
4                                 나눠 담으며 쌀상태 다시 한번 확인합니다   neutral      0
...                                                  ...       ...    ...
15725     2인이 살고 있는 집이구 저는 주말에만 빕에서 밥을 먹어서\n양이 좀 많은 편입니다  positive      1
15726                          여름이라 더 작은거 사려다가 그냥 재구매했구요   neutral      0
15727                                            밥맛은 좋아요  positive      1
15728                                   품질 관리 잘 하시는거 같아요  positive      1
15729                                              잘먹을게요  positive      1

[15730 rows x 3 columns]

In [64]:
coupang_train.to_excel('./train_data/coupang_naver_total/total_senti_coupang.xlsx',encoding='utf-8')